---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const entry = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { contact_form_action } = config.params;
const { title, description, info } = entry.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row pb-0">
        <div class="col-12 md:col-8 lg:col-9">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdUqsHV6ToQWdIJ6gv6rRk7FgLDPnJIOT2WXzsmbYsx3DhRGA/viewform?embedded=true"
            width="600"
            height="900"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            class="w-full"
          >
            Loading…
          </iframe>
        </div>
        <div class="content col-12 md:col-4 lg:col-3">
          <h4 set:html={markdownify(info?.title)} />
          <p class="mt-4" set:html={markdownify(info?.description)} />
          <ul class="contact-list mt-5 list-none pl-0">
            {
              info?.contacts?.map((contact) => (
                <li>
                  <strong
                    class="text-text-dark"
                    set:html={markdownify(contact)}
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
